.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;

  &Item {
    position: relative;
    flex: 0 0 calc(25% - 16px);
    height: 200px;
    margin: 8px;

    @media screen and (max-width: 992px) {
      flex: 0 0 calc(50% - 16px);
    }

    &:hover {
      .likeButton {
        opacity: 1;
      }
    }
  }

  &Image {
    object-fit: cover;
  }
}

.likeButton {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
  }
}
