.searchArea {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.inputSearch {
  border: none;
  border-bottom: 2px solid #dddddd;
  width: 60%;
  height: 30px;
  font-size: 20px;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    border-bottom-color: grey;
  }

  &::placeholder {
    color: #dddddd;
  }
}
