@import "src/styles/_variables.scss";

.searchArea {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.inputSearch {
  border: none;
  border-bottom: 1px solid $light-text-color;
  width: 60%;
  height: 30px;
  font-size: 24px;
  outline: none;

  &:hover,
  &:active,
  &:focus {
    border-bottom-color: $main-text-color;
  }

  &::placeholder {
    color: $light-text-color;
  }
}
